body{
    margin: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header {
    text-shadow: -2px 0px 8px white;
    font-size: smaller;
    display: flex;
    justify-content: space-between;
    background-color: rgb(216, 161, 170);
    padding: 0.3rem;
    width: 99.2%;
    color: black;
}

header div{
    padding-right: 0.4rem;
    align-self: center;
}

header div button{
    background-color: black;
    border: 1px solid black;
    color: whitesmoke;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px black;
}

header div input{
    padding: 0.7rem 0.8rem;
    border-radius:0.5rem;
    box-shadow: 0px 0px 10px black;
    border: 1px solid white;
    margin: 0.3rem;
}

main{
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin: 0.5rem;
}

main #recipeDetails{
    padding-left: 10rem;
}