body {
    margin: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 73rem;
    background-color: #BaBaBa;
}

header {
    text-shadow: -2px 0px 8px white;
    font-size: smaller;
    display: flex;
    justify-content: space-between;
    background-color: rgb(216, 161, 170);
    box-shadow: -1px 2px 25px black;
    padding: 0.3rem;
    width: 99.2%;
    color: black;
    
}

header h1 {
    text-align: center;
}

header div {
    padding-right: 0.4rem;
    align-self: center;
}

header div button {
    background-color: black;
    border: 1px solid black;
    color: whitesmoke;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 4px black;
}

header div input {
    padding: 0.7rem 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 10px black;
    border: 1px solid white;
    margin: 0.3rem;
}

#searchResult {
    /* min-width: 9rem; */
    overflow-y: scroll;
    scrollbar-width: none;
    height: 35rem;
    width: 24rem;
}

main {
    display: flex;
    margin: 0.5rem;
}

main #recipeDetails {
    padding-left: 3rem;
}

#recipeList {
    padding: 0.2rem 0rem 0.5rem 0.5rem;
}

#recipeList li {
    border: 1.5px solid black;
    border-radius: 0.5rem;
    list-style: none;
    padding: 0rem 1rem 1rem;
    margin: 0.7rem 0.5rem;
    background-color: pink;
    box-shadow: 1px 6px 23px black;
    width: 20rem;
}

.recipeDetailsDiv {
    border: 1.5px solid black;
    border-radius: 0.5rem;
    list-style: none;
    padding: 0rem 1rem 1rem;
    margin: 0.7rem 0.5rem;
    background-color: pink;
    box-shadow: 1px 6px 23px black;
    width: 42rem;
}

#recipeList li h3 {
    margin: 0.5rem 0rem;
}

#recipeDetails {
    min-width: 10rem;
}

footer {
    background-color: rgb(216, 161, 170);
    padding: 0.5rem;
    font-style: oblique;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    box-shadow: -1px 2px 25px black;
    text-shadow: -2px 0px 8px white;
    font-weight:bolder ;
    width: 98.5%;
}

.icon {
    display: flex;
    justify-content: center;
    column-gap: 0.7rem;
    margin: 0.5rem;
    font-size: 1.6rem;
}

.icon a {
    color: black;
}